body {
  box-sizing: border-box;
  background-color: #313d5a;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #eaeaea;
}

.cat-section {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
  object-fit: contain;
  height: 450px;
}

button {
  background-color: #cbc5ea;
}
