body {
    box-sizing: border-box;
    background-color: #313D5A;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #EAEAEA;
}

.cat-section{
    width: 100%;
    text-align: center;
}

button {
    background-color: #CBC5EA;
}